/* font-family: "FiraSans"; */
@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans/FiraSans.eot');
	src: url('../fonts/FiraSans/FiraSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FiraSans/FiraSans.woff') format('woff'),
	url('../fonts/FiraSans/FiraSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans/FiraSans-Italic.eot');
	src: url('../fonts/FiraSans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FiraSans/FiraSans-Italic.woff') format('woff'),
	url('../fonts/FiraSans/FiraSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}
@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans/FiraSans-Bold.eot');
	src: url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
	url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans/FiraSans-BoldItalic.eot');
	src: url('../fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff'),
	url('../fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: fallback;
}

/* font-family: "OpenSans"; */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans.eot');
	src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Italic.eot');
	src: url('../fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.eot');
	src: url('../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.eot');
	src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: fallback;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.eot');
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
	url('../fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: fallback;
}

.accountMenu--item .stroke svg{
	stroke: #333;
	fill: transparent;
}

.accountMenu--item .fill svg {
	fill: #333;
}

.accountMenu--item.checked .fill svg {
	fill: #ff6700;
}

.accountMenu--item.checked .stroke svg {
	stroke: #ff6700;
}